<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="/css/material_blue.css" rel="stylesheet" type="text/css">

<link href="/css/style.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/images/favicon.ico">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">

<title>Ryggbiffarna</title>
