<html>
    <head>
        {{>head}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            {{>header_menu}}
                <main class="mdl-layout__content">
                    {{{body}}}
                </main>
            {{>footer}}
        </div>
        {{>scripts}}
    </body>
</html>
