<table class="mdl-data-table mdl-js-data-table full-width">
    {{{headers}}}
    {{{rows}}}
</table>
{{#if addButton}}
<button class="mdl-button mdl-shadow--6dp mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored
 absolute-bottom-right" onclick="addLink()">
    <i class="material-icons">add</i>
</button>
{{/if}}
